<template name="about">
  <div class="page about">
    {{> nav title='About' black=true}}

    <div class="content-scrollable">
      <div class="bg-image about">
        <h1 class="title-about">
          <img src="img/app/title-about.svg" alt="Go Local"/>
        </h1>
      </div>
      <div class="description-about">
        <p>Be a local wherever you go. Connect to Local Market’s community to get the latest news, hand-picked products , and share with other locals. .</p>

        <p>Just Ad It was built of the Local Market theme  made by <a href="http://percolatestudio.com" target="_blank" class="js-open">Percolate Studio</a> .</p>
      </div>

    </div>
    
  </div>
</template>