<template name="AdvSearch">
    <div>
         
    </div>
</template>

<template name="QuickSearch">
        
    <form id="frmSearch">
        
            <div class="input-group add-on">
                    <input class="form-control " placeholder="Search" name="searchTerm" id="qsrch-term" type="text">
                    <div class="input-group-btn">
                      <button class="btn navSearchBtn" id="btnQSearch" type="submit">
                          <i class="glyphicon glyphicon-search"></i>
                      </button>
                    </div>
            </div>
       
    </form>
 

</template>